# add git-ignore syntax here of things you don't want copied into docker build context

# Can't ignore the .git directory for now because the server Makefile runs `git rev-parse HEAD`
# .git
Dockerfile*
.dockerignore
docker-*
node_modules/
dist/
.npminstall
.yarninstall
*.swp
.idea
*.tar.gz
tests/reports
.DS_Store
mattermost-webapp.iml
