@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";

@import "../../node_modules/bulma/sass/components/card.sass";
@import "../../node_modules/bulma/sass/components/menu.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/list.sass";
@import "../../node_modules/bulma/sass/components/level.sass";

@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";

@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";

@import "../../node_modules/bulma/sass/grid/_all.sass";


body {
    background-color: #f6f0fb;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    background-color: #f6f0fb;
}

//$gap: 32px;
//$tablet:	568px;
//$desktop:	896px + (2 * $gap);
//$widescreen:	1152px + (2 * $gap);
//$fullhd:	1344px + (2 * $gap);

// BRAND COLORS
$gray: #57606f;
$purple: rgb(133,99,140);
$pink: rgb(243,	108,	110);
$pinkHover: rgb(242, 136, 137);
$purpleHover: rgba(138, 106, 148, 0.7);
$blue: rgb(19,129,161);


$brightPlum: #ab45ab;
$reddishPeach: #f56b6b;
$turquoise: #128ead;
$sage: #7caf5f;
$apricot: #f2a466;
$eggplant: #321325;
$darkfern: #3c493f;
$aquamarine: #1b998b;
$lightlava: #bdc3c7;

$primary: $purple;
$link: $purple;

html {
  a {
    color: $purple;
    &:hover {
        color: #363636;
        text-decoration: none;
    }
  }
}

// classes for charts and other places where meeting participants need an identifying color
// Note: some packages don't let us use classes to style (e.g. Chart.js) so this list is also
// in utils/riff/index.js peerColors.
.riff-peer-0,
.riff-peer-self {
    color: $brightPlum;
}

.riff-peer-1 {
    color: $turquoise;
}

.riff-peer-2 {
    color: $sage;
}

.riff-peer-3 {
    color: $apricot;
}

.riff-peer-4 {
    color: $eggplant;
}

.riff-peer-5 {
    color: $darkfern;
}

.riff-peer-6 {
    color: $aquamarine;
}

.sigma-scene {
    left: 0px;
}

.sigma-mouse {
    left: 0px
}

.line {
    fill: none;
    stroke: #bdc3c7;
    stroke-width: 2px;
}

.axisGray line{
    stroke: #bdc3c7;
}

.axisGray path{
    stroke: #bdc3c7;
}

.axisGray text{
    fill: #607071;
}



//really, no idea why I have to specify this. Should be able to
// do this using just the primary color set.
.button.is-primary.is-outlined {
    border-color: $purple;
    color: $purple;
    &:hover {
        background-color: $purple;
        color: #fff;
    }
}

.button.is-primary.is-outlined:focus {
    border-color: $purple;
    background-color: $purple;
    color: #fff;
}


.vbutton.is-primary.is-outlined:hover {
    border-color: $purple;
    background-color: $purple;
    color: #fff;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

//screen reader only
.a11y-browser-alert {
    width: 1px;
    height: 1px;
    position: fixed;
}

.chart-info-div {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(171, 69, 171, 0.9);
    z-index: 1;

    button {
        background: none;
        border: none;
    }
}

.menu-label {
    color: #6E6E6E;
}

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
